<html>

    <head>
        <title> Welcome to Caddy! </title>
    </head>

    <body>
        <h1> Everything seems to be working fine. </h1>
        <p> Serving on {{caddy_ip_or_fqdn}}:2020 </p>
    </body>

</html>
